.cocktail {
  position: relative;
  display: flex;
  justify-content: center;
  height: auto;
  padding-top: 4rem;
}

.cocktail-article {
  width: 300px;
  padding-bottom: 4rem;
}

.cocktail-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.info {
  font-size: 0.8rem;
  font-style: italic;
}

.glass {
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .cocktail-article {
    width: 600px;
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
  }

  .cocktail-article > img {
    margin-top: 1rem;
  }

  .cocktail-text-wrapper {
    width: 350px;
    padding-right: 3rem;
  }
}
